$primary-color: #4b8fea;


.search-icon {
	color: #b0b3b8;
	/* Gray color for the search icon */
	margin-right: 8px;
	font-size: 1.2rem;
}

.chat-search-input {
	background: transparent;
	border: none;
	outline: none;
	color: #b0b3b8;
	/* Match the text color */
	font-size: 1rem;
	width: 100%;
}

.chat-search-input::placeholder {
	color: #b0b3b8;
	/* Lighter gray for placeholder */
}

.chat-search-input:focus {
	outline: none;
	/* Remove focus outline */
}


/* Chat Bubbles */
.chat-messages {
	display: flex;
	height: 90vh;
	flex-direction: column;
	padding: 15px;
	overflow-y: auto;
	word-wrap: break-word;
}

/* Chat Bubble */
.chat-bubble {
	max-width: 50%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 20px;
	position: relative;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	word-break: break-word;
}

/* My chat - aligned right */
.chat-bubble.from-me {
	background-color: $primary-color;
	color: white;
	margin-left: auto;
	/* Aligns my messages to the right */
	border-bottom-right-radius: 0;
}

/* Their chat - aligned left */
.chat-bubble.from-them {
	background-color: #e5e5ea;
	color: black;
	margin-right: auto;
	/* Aligns their messages to the left */
	border-bottom-left-radius: 0;
}

.chat-bubble span {
	display: block;
	font-size: 0.8rem;
	text-align: right;
	margin-top: 5px;
}