$primary-color: #4b8fea;

.search-icon {
	color: #b0b3b8;
	/* Gray color for the search icon */
	margin-right: 8px;
	font-size: 1.2rem;
}

.chat-search-input {
	background: transparent;
	border: none;
	outline: none;
	color: #b0b3b8;
	/* Match the text color */
	font-size: 1rem;
	width: 100%;
}

.chat-search-input::placeholder {
	color: #b0b3b8;
	/* Lighter gray for placeholder */
}

.chat-search-input:focus {
	outline: none;
	/* Remove focus outline */
}
