// Bottom terms text
/*
.terms-text {
	margin-top: -5px;
}
	*/

// Fingerprint text
#ksFingerprint input {
	font-size: 10px;
	font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 1100px) {
	.lr-container {
		left: 50%; // Center horizontally on smaller screens
		transform: translate(-50%, -50%);
	}
}

/*
.ion-item {
	--highlight-color-focused: #8f9bba;
	margin-bottom: 1rem;
}
*/