// Bottom terms text
/*
.terms-text {
	margin-top: -5px;
}
	*/

// Fingerprint text
#ksFingerprint input {
	font-size: 10px;
	font-family: "Courier New", Courier, monospace;
}

/*
.ion-item {
	--highlight-color-focused: #8f9bba;
	margin-bottom: 1rem;
}
*/
