@import "./vars";

// Background Image
ion-content::part(scroll) {
	background-image: url("../../../assets/images/registration-background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
	.lr-container {
		left: 50%; // Center horizontally on smaller screens
		transform: translate(-50%, -50%);
	}
}

// Login and registration Containers
.lr-container {
	// Position
	position: fixed;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	z-index: 1;

	// Styling
	background-color: white;
	padding: 2rem;
	border-radius: 20px;
	width: 100%;
	max-width: 500px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-family: "Poppins", sans-serif;


	.title {
		color: $title;
		font-weight: bold;
		font-family: "Poppins", sans-serif;
		margin-top: -10px;
		margin-bottom: 22px;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	.subtitle {
		color: $subtitle;
	}

	.subtitle.top {
		margin-bottom: 1em;
	}

	.icon-btn>*:not(:first-child) {
		margin-left: 0.5em;
	}


	// Form
	ion-item {
		--background: #373737;
		--color: white;
		margin-bottom: 16px;
		border-radius: 4px;
		font-family: "Poppins", sans-serif;
	}

	form {
		ion-button {
			font-weight: bold;
			padding: 6px 0;
			--background: #1f1f6d;
			--border-radius: 4px;
			height: 55px;
		}
	}

	ion-icon {
		color: #ffffff;
	}

	.bottommost-button {
		margin-top: 3rem;
	}

	.inline-btns {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.fine-print {
	font-size: 0.8rem;
	color: $subtitle;
	//margin-top: 1rem;
	text-align: left;

	ion-text {
		color: #3b82f6;
		cursor: pointer;
	}
}

.required {
	color: #ff0000;

	&::before {
		content: "*";
	}
}