.camera-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;

	.camera-view {
		width: 100%;
		height: 100%;
	}

	.flip-button,
	.snap-button,
	.close-button {
		background: transparent;
		border: none;
		color: white;
		position: absolute;
	}

	.flip-button {
		bottom: 30px;
		right: 30px;
		font-size: 30px;
	}

	.snap-button {
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 100px;
	}

	.photo-container {
		position: relative;
		width: 100%;
		height: 100%;

		.photo {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.close-button {
			top: 20px;
			left: 15px;
			font-size: 40px;
		}
	}
}